<link rel="stylesheet" href="/css/header.css">
<section>
        <header id="main-header">
                <div> <img id="logo" src="/images/logo.jpg"></div>
               <div id="project-title">Issue Tracker</div> 
                 <div><a href="/"><i class="fas fa-home"></i></a>  </div>
                 
        </header>
</section>
