
        <link rel="stylesheet" href = "/css/home.css">

<section id="project-list">
     <div id="home-header">
             <h3>Project</h3>
             <button>Add New</button>
     </div>
       <div id="project-container">
           <p>Project Name</p>
            <p>Auther Name</p>
            <div id="description">
                <h6>Description</h6>
                <p id="description-content"> sgdwJa  dkgaKBJxbbjd daKudb QDWGBsWQdAdquGDBlg sqiiehQs
                        dqKJDYGVBQN;JFWAN FNW 3EH2O RVE J1E QE92CJojc
                </p>
            </div>
       </div>

       <div id="project-container">
        <p>Project Name</p>
         <p>Auther Name</p>
         <div id="description">
             <h6>Description</h6>
             <p id="description-content"> sgdwJa  dkgaKBJxbbjd daKudb QDWGBsWQdAdquGDBlg sqiiehQs
                     dqKJDYGVBQN;JFWAN FNW 3EH2O RVE J1E QE92CJojc
             </p>
         </div>
    </div>
</section>
