header{
    height: 80px;
    width: 100%;
    background-color: rgb(166, 122, 206);
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px white;
}

img{
    margin-left: 20px;
    height: 70px;
    width: 70px;
    border-radius: 30px;
}

span{
    margin-left: 200px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}