*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}


#project-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    border: 8px solid  rgb(204, 230, 154);
    margin-left: 230px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 5px white;
    background-color: rgb(204, 230, 154);
}

#home-header{
    height: 40px;
    width: 100%;
    display: flex;
   margin-top: 20px;
   align-items: center;
   justify-content: space-around;
}

#home-header h3{
    font-weight: bolder;
    font-size: 25px;
}

#home-header #add-project-btn{
    padding: 5px 8px;
    font-weight: bold;
    border-radius: 0px;
    background-color: blueviolet;
    color: #fff;
}

#total-projects{
    background-color: rgb(49, 129, 129);
    padding: 5px;
    font-weight: bold;
    color: white;
}

#project-container{
    margin: 20px;
    border: 8px solid rgb(245, 238, 245);
    height: 160px;
    width: 90%;
    padding: 5px 10px;
    box-shadow: 0px 4px 7px 0px #3b542a;
    background-color: rgb(255, 255, 255);
}

#project-name{
    font-size: 20px;
    padding: 0;
    margin: 5px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

#open-project-btn{
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 0px;
    background-color: aquamarine;
}

#auther-name{
    margin: 0;
    margin: 5px;
}

#description{
  padding: 5px;
}

#description h5{
    margin: 3px;
    font-size: 15px;
    font-weight: 600;
}

#description-content{
    font-size: 15px;
    margin: 0px;
    padding: 1px 2px;
}

a{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}



